.task-timer{
    height: 6px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 90%;
    background-color: aqua;
  }


  .task-timer::-webkit-progress-value {
    background-color: rgb(221, 175, 175); 
  }
  
  .task-timer::-moz-progress-bar {
    background-color: rgb(221, 175, 175); 
  }
  
  .task-timer::-ms-fill {
    background-color: rgb(221, 175, 175); 
  }